<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  {% include 'site-head' %}
  {{ content_for_header }}
  {% include 'header-scripts' %}
</head>

<body class="template-password dyno_img-bg" style="background-image:url({%- include 'image-src', image_src: settings.social_image, image_src_sizing: "2048x" %});">
<div class="bg-container"></div>
  <header role="banner">
    <h1 itemscope itemtype="http://schema.org/Organization">
      <div class="site-logo">
        {{ shop.name }}
      </div>
    </h1>
  </header>

  <main role="main" id="MainContent" class="password-password">
    {{ content_for_layout }}
  </main>

  <footer>
    
  </footer>

  <div id="Login">
  <div class="logmein">
  <a class="exout-button">X</a>
    <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <input type="password"
        name="password"
        id="Password"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
      <button type="submit" name="commit">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {% endform %}
    <p>{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
  </div>
  
  {% include 'footer-scripts' %}
</body>
</html>
